/.gradle/5.2.1/executionHistory/executionHistory.bin
/.gradle/5.2.1/executionHistory/executionHistory.lock
/.gradle/5.2.1/fileChanges/last-build.bin
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.2.1/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
